################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameShow
/GameShow/bin/Debug/netcoreapp3.0
/GameShow/obj
/GameShow/bin/Debug/netcoreapp3.1
