@page
@model GameShow.Pages.GameMasterModel
@{
    ViewData["Title"] = "Game Show";
}

<h1>Game Show</h1>

<div id="app">
</div>


<script type="text/html">
    // TODO: security
    window.userToken = "GameMaster";
</script>
<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
<script type="module" src="~/dist/GameMaster/gameMaster.js"></script>