@page
@model IndexModel
@{
    ViewData["Title"] = ViewBag.TeamName;
    ViewData["Subtitle"] = ViewBag.PlayerName;
}

<div class="text-center">
    <div>
        <div id="team-player">
            <div>Team Name</div>
            <select id="team-options">
                <option value="0">--None--</option>
            </select>
            <div>Name</div>
            <div>
                <input id="name-input" type="text" />
            </div>
            <div>
                <button id="name-save">Save</button>
            </div>
        </div>
        <br />
        <div>
            <button id="buzzer-button" style={{ width: '100%', height: '300px' }}>
                Buzz!
            </button>
        </div>
    </div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/communicationService.js"></script>
<script src="~/js/player.js"></script>
<script src="~/lib/no-sleep/NoSleep.min.js"></script>
<script type="text/javascript">

    var noSleep = new NoSleep();

    // Enable wake lock.
    // (must be wrapped in a user input event handler e.g. a mouse or touch handler)
    document.addEventListener('click', function enableNoSleep() {
      document.removeEventListener('click', enableNoSleep, false);
      noSleep.enable();
    }, false);
</script>


