@page
@model IndexModel
@{
    ViewData["Title"] = ViewBag.TeamName;
    ViewData["Subtitle"] = ViewBag.PlayerName;
}

<div class="text-center">
    <div>
        <div>Team Name</div>
        <select id="team-options">
            <option value="0">--None--</option>
        </select>
        <div>Name</div>
        <div>
            <input id="name-input" type="text" />
        </div>
        <div>
            <button id="name-save">Save</button>
        </div>
        <br />
        <div>
            <button id="buzzer-button" style={{ width: '100%', height: '300px' }}>
                Buzz!
            </button>
        </div>
    </div>
</div>
<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/communicationService.js"></script>
<script src="~/js/player.js"></script>


