/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


#buzzer-button {
    width: 100%;
    height: 300px;
}

#score-boards > div {
    width: 40%;
    float: left;
    margin: 0 5px;
}

#score-boards h3 {
    display: inline;
}

#score-boards input {
    border: none;
    font-family: Arial;
    font-size:2rem;
    width: 40%;
}

.score-card {
    height: 400px;
    border: 10px solid black;
    
}

.score-card.team0.buzzed {
    background-color: blue;
}

.score-card.team1.buzzed {
    background-color: red;
}

.score-card.team2.buzzed {
    background-color: green;
}

.score-card.team3.buzzed {
    background-color: yellow;
}

.score-card.team0 {
    background-color: #C0C0FF;
}

.score-card.team1 {
    background-color: #FFC0C0;
}

.score-card.team2 {
    background-color: #C0E0C0;
}

.score-card.team3 {
    background-color: #FFFFC0;
}

.score-card.team0.too-late {
    border-color: blue;
}

.score-card.team1.too-late {
    border-color: red;
}

.score-card.team2.too-late {
    border-color: green;
}

.score-card.team3.too-late {
    border-color: yellow;
}

h1#header.team0{
    color: darkblue;
}

h1#header.team1 {
    color: darkred;
}

h1#header.team2 {
    color: darkgreen;
}

h1#header.team3 {
    color: goldenrod;
}

.logo{
    width: 250px;
}

.hidden{
    display: none;
}

.in-card {
    top: -250px;
    text-align: center;
    font-size: 2rem;
    position: relative;
    padding: 0px;
    margin: 0px;
    line-height: 1.75rem;
}


/*.game-master-heading{
    float:left;
}

.game-master-image{
    float:right;
}*/